<div class="app">
    <section class="todoapp">
        <TMPL_INLINE BLOCK_NAME="Header" ./header.inc>

        ## This section should be hidden by default and shown when there are todos
        <TMPL_IF [% count($todos) > 0 %]>
            <TMPL_INLINE BLOCK_NAME="Todos" ./main_section.inc>
        </TMPL_IF>

        ## This footer should hidden by default and shown when there are todos
        <TMPL_IF [% count($todos) > 0 %]>
            <TMPL_INLINE BLOCK_NAME="Footer" ./footer.inc
                left_count=[% $left_count %]
                completed_count=[% $completed_count %]>
        </TMPL_IF>
    </section>
    <footer class="info">
        <p>Double-click to edit a todo</p>
        <p><a href="https://github.com/agentcooper/htmltemplate-vdom/tree/master/example/todomvc">Source code</a></p>
        <p>Created by <a href="https://github.com/agentcooper">Artem Tyurin</a> and <a href="https://github.com/Lapple">Aziz Yuldoshev</a></p>
        <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
</div>
