<div class="header">
    <TMPL_IF [% $showNotifications && $loggedIn %]>
        <div class="notifications">
            <TMPL_LOOP notifications>
                <div class="
                    notification
                    <TMPL_IF [% $type eq 'urgent' %]>
                        notification--urgent
                    </TMPL_IF>
                ">
                <TMPL_VAR text>
                </div>
            </TMPL_LOOP>
        </div>
    </TMPL_IF>
</div>
