<div>
    <TMPL_LOOP basicArray><TMPL_VAR title></TMPL_LOOP>

    <TMPL_FOR item in=basicArray><TMPL_VAR [% $item->{title} %]></TMPL_FOR>

    <TMPL_LOOP [% $nested && $nested->{items} %]>bla</TMPL_LOOP>

    <TMPL_FOR item in=[% $nested && $nested->{moreItems} %]><TMPL_VAR item></TMPL_FOR>
</div>
