<div class="container">
    <TMPL_VAR a.b.c>
    <TMPL_VAR array.1.c.3.field>
    <TMPL_VAR label
        attribute=nested.attribute.access>
    <TMPL_VAR label
        attribute="dotted.string">
    <TMPL_VAR label
        attribute=[% $expression %]>
</div>
