<div>
    <TMPL_ASSIGN number [% 1 + 2 %]>
    <TMPL_ASSIGN show [% $logged_in and $show_items %]>
    <TMPL_ASSIGN superhero_alias superhero>

    <TMPL_SETVAR message>Nanana <TMPL_VAR superhero><TMPL_VAR number></TMPL_SETVAR>

    <TMPL_VAR message>, <TMPL_VAR message>
    <TMPL_VAR superhero_alias>

    <TMPL_IF show>
        <TMPL_LOOP items>
            <TMPL_SETVAR name>Mr. <TMPL_VAR name></TMPL_SETVAR>
            Name: <TMPL_VAR name>
        </TMPL_LOOP>
    </TMPL_IF>
</div>
